.logo-blue-background {
    background-color: #0095d6;
}

.logo-blue-border {
    border-bottom-color: #0095d6;
}

.logo-blue-text {
    color: #0095d6;
}



.background {
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size:  cover;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track-piece{
    background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb{
    background-color: #626262;
    outline: 2px solid rgba(255, 255, 255, 0);
    outline-offset: -2px;
    border-radius: 5px;
    border: .1px solid #626262;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #909090;
}